<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="fr.ralala.worktime"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:testOnly="false"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsActivity"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsDatabaseActivity"
            android:parentActivityName=".ui.activities.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsDisplayActivity"
            android:parentActivityName=".ui.activities.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsExcelExportActivity"
            android:parentActivityName=".ui.activities.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsLearningActivity"
            android:parentActivityName=".ui.activities.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.settings.SettingsImportExportActivity"
            android:parentActivityName=".ui.activities.settings.SettingsDatabaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.settings.SettingsDatabaseActivity"/>
        </activity>
        <activity android:name=".ui.activities.FileChooserActivity"/>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-your_app_key_here" />

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DayActivity"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.PublicHolidayActivity"
            android:parentActivityName=".ui.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>

        <service android:name=".services.DropboxAutoExportService"/>
        <service android:name=".services.QuickAccessService"/>
        <receiver android:name=".ui.quickaccess.QuickAccessNotificationReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <category android:name="fr.ralala.worktime.services.PAUSE"/>

            </intent-filter>
        </receiver>
        <receiver
            android:icon="@mipmap/ic_launcher"
            android:enabled="true"
            android:label="@string/app_name"
            android:name=".ui.widgets.DayWidgetProvider1x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_widget1x1_info" />
        </receiver>
        <receiver
            android:icon="@mipmap/ic_launcher"
            android:enabled="true"
            android:label="@string/app_name"
            android:name=".ui.widgets.DayWidgetProvider4x1" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/day_widget4x1_info" />
        </receiver>
    </application>

</manifest>